@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;

}

body {
    background-color: black;
    color: white;
}

.container {
    display: flex;
   
}

/* Css da home page */

.side-bar {
    width: 300px;
    background-color: #121212;
    padding: 10px; 
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.logo {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.nav-playlists {
    font-size: 14px;
    display: flex;
    align-items: center;
    background-color: #706e70;
    cursor: pointer;
    gap: 10px;
}

.nav-criar-playlist {
    background-color: #242424;
    padding: 16px;
    border-radius: 8px;
}

.nav-criar-playlist button {
    background-color: white;
    color: #000;
    border: none;
    padding: 6px 10px;
    margin-top: 16px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 20px;
}

.nav-footer {
    margin-top: auto;
    
}

.nav-footer a {
    color: #a7a7a7;
    text-decoration: none;
    font-size: 12px;
    
}

main {
padding: 16px;
flex-grow: 1;

}

.barra-pesquisa {
    display: flex;
    align-items: center;
    background-color: #242424; 
    padding: 8px 16px;
    border-radius: 20px;
    width: 300px;
}

.barra-pesquisa input {
    background-color: transparent;
    border: none;
    color: white;
    width: 100%;
    margin-left: 5px;
    outline: none;
}

.artistas, .albuns {
    display: grid;
    grid-template-columns: repeat(autofill, minmax(180px, 1fr));
    gap: 24px;
    margin-bottom: 40px;

}	

.artistas img, .albuns img {
    width: 200px;
    border-radius: 8px; 
}

/* Css login e register */

.main h1 {
    text-align: center;
    margin: 40px 0;
    color: white;
    font-size: 40px;

}

.main hr {
    margin: 32px 100px;
    border-right: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-image: initial;
    border-top: 1px solid white;

}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.login form label {
    color: white;
    font-size: 14px;
    margin-bottom: 8px;
    display: inline-block;
}

.login form input {
    display: block;
    padding: 14px;
    width: 324px;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 500;
    outline: none;
    border: none;
    appearance: none;
    border-radius: 4px;
    color: black;
}

.login button {
    border-radius: 30px;
    font-weight: bold;
    padding: 8px 32px;
    height: 48px;
    width: 324px;
    letter-spacing: .4px;
    font-size: 16px;
    margin: 20px 0px;
    display: block;

}

.login a {
    display: block;
    text-align: center;
    color: white;
    font-weight: 400;
    text-decoration: underline;
}

.img {
    padding: 0px 30px 10px 30px;
    margin: 10px 0;
}

.EditarPlaylist {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.login form select {
    color: black;
    font-size: 14px;
    margin-bottom: 8px;
    display: inline-block;
}

.playlist {
    display: flex;
    justify-content: space-between;
    color: white;

}

.login button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.register {
    display: block;
    text-align: center;
    color: white;
    font-weight: 400;
    text-decoration: underline;
}

section p {
    color: white;
    font-size: 14px;
    text-align: center;
    margin: 20px 0;  

}

/* Css do registrar */

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
}

.registrar form label {
    color: white;
    font-size: 14px;
    margin-bottom: 8px;
    display: inline-block;
}

.registrar form input {
    align-items: center;
    padding: 14px;
    width: 324px;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 500;
    outline: none;
    border: none;
    appearance: none;
    border-radius: 4px;
    color: black;
}

.registrar button {
    border-radius: 30px;
    font-weight: bold;
    padding: 8px 32px;
    height: 48px;
    width: 324px;
    letter-spacing: .4px;
    font-size: 16px;
    margin: 20px 0px;
    display: block;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    background-color: #000000;
    color: #000;
}

header button {
    border-radius: 30px;
    font-weight: bold;
    padding: 8px 32px;
    height: 48px;
    width: 324px;
    letter-spacing: .4px;
    font-size: 16px;
    margin: 20px 0px;
    display: block;
}

.main button {
    border-radius: 30px;
    font-weight: bold;
    padding: 8px 32px;
    height: 48px;
    width: 324px;
    letter-spacing: .4px;
    font-size: 16px;
    margin: 20px 0px;
    display: block;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #6c63ff;
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}


