* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-family: CircularSpTitle, CircularSpTitle-Tall, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    background-color: #090707;
}

.logo {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

body {
    background-color: black;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    
}

button {
    border-radius: 30px;
    font-weight: bold;
    padding: 8px 8px;
    height: 48px;
    width: 324px;
    letter-spacing: .4px;
    font-size: 16px;
    margin: 20px 0px;
    
}

.main {
    padding: 20px 100px;
    background-color: #090707;
    border-radius: 5px; 
}

.main h1 {
    text-align: center;
    margin: 40px 0;
    color: white;
    font-size: 40px;
    
}

.main hr {
    margin: 32px 100px;
    border-right: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-image: initial;
    border-top: 1px solid white;

}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.login form label {
    color: white;
    font-size: 14px;
    margin-bottom: 8px;
    display: inline-block;
}

.login form input {
    display: block;
    padding: 14px;
    width: 324px;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 500;
    outline: none;
    border: none;
    appearance: none;
    border-radius: 4px;
    color: black;
}

.login button {
    border-radius: 30px;
    font-weight: bold;
    padding: 8px 32px;
    height: 48px;
    width: 324px;
    letter-spacing: .4px;
    font-size: 16px;
    margin: 20px 0px;

}

.login a {
    display: block;
    text-align: center;
    color: white;
    font-weight: 400;
    text-decoration: underline;
}

.register {
    margin: 10px 0;
    text-align: center;
    color: white;
    text-decoration: none;
    margin-right: 3px;
}

.register span {
    color: white;
    margin-right: 3px;
}

.register a {
    color: white;
    text-decoration: underline
}

.img {
    padding: 0px 30px 10px 30px;
    margin: 10px 0;
}

.EditarPlaylist {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

