body {
  background-color: rgba(40, 40, 40, 1)
}

section{
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;   
    left: 50%;    
    transform: translate(-50%, -50%);
}

section h1 {
    text-align: center;
    margin-bottom: 20px;   
}

.principal {
    display: flex;
    justify-content: space-between
}	

*, ::after, ::before {
    box-sizing: border-box;
    padding: 5px;
}

a {
    text-decoration: none;
    color: #000;
}

.registro { 
    margin-bottom: 10px;
}

.main {
    width: 70%;
}

.grid-paginainicial {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;   
    left: 50%;    
    transform: translate(-50%, -50%);
}